.creatuser-body{
    background: linear-gradient(to right, #F0F0F0, #FFFFE0);
}
.creatuser-content{
    background-color: rgb(196 231 150 / 40%);
    margin-top: 50px;
    border-radius: 30px;
    box-shadow: 5px 4px #888888;
}
.marksheet-heading{
    color:#b99206;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}
*label{
    padding-left: 10px;
}
*input,*select{
    border-radius: 15px;
}
